:root.theme-light {
  --bg-image: url("../images/cover-image-light.png");
  --bg-color: #ffeff6;
  --accent-color: #ff8dcb;
  --button-color: #353430;
  --text-color: #353430;
  --details-color: #353430;
  --title-color: #353430;
  --title-text-color: #353430;
  --button-outline-color: #32312d66;
  --title-large: #ffc2e6;
}

:root.theme-light .decorated-zone-rec {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-image: url("../images/cover-image-light.png");
    --bg-color: #ffeff6;
    --accent-color: #ff8dcb;
    --button-color: #353430;
    --text-color: #353430;
    --details-color: #353430;
    --title-color: #353430;
    --title-text-color: #353430;
    --button-outline-color: #32312d66;
    --title-large: #ffc2e6;
  }

  :root .decorated-zone-rec {
    display: none;
  }
}